body{
    background-color: rgb(240, 240, 240);
}
h1{
    color: rgb(29, 26, 24);
    text-align: center;
    padding-top: 10%;
    font-weight: bold;

}

div{
    background-image: url('images/images.png');
    background-repeat: no-repeat;
   
    background-size: cover;
    height: 300px;
}